/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0f172a; /* Nuestro color dark-900 */
  color: #f1f5f9; /* Nuestro color dark-100 */
  scroll-behavior: smooth; /* Scroll suave al navegar */
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  /* Esto ayuda a que las fuentes se vean nítidas */
  -webkit-font-smoothing: antialiased;
}
