---
import Layout from "../layouts/Layout.astro";

// Secciones
import Hero from "../components/sections/Hero.astro";
import TechStack from "../components/sections/TechStack.astro";
import ProjectsGrid from "../components/sections/ProjectsGrid.astro";
import Experience from "../components/sections/Experience.astro"; // Usando Experience.astro
import Education from "../components/sections/Education.astro";
import About from "../components/sections/About.astro";

const name = "Carlos Pérez";
const role = "Full Stack Developer";
---

<Layout title={`${name} | ${role}`}>
  <Hero />

  <div class="-mt-16">
    <TechStack />
  </div>

  <div id="projects" class="scroll-mt-24">
    <ProjectsGrid />
  </div>

  <div id="experience" class="scroll-mt-24">
    <Experience />
  </div>

  <div id="education" class="scroll-mt-24">
    <Education />
  </div>

  <div id="about" class="scroll-mt-24">
    <About />
  </div>
</Layout>
